@import "reset";

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-top: solid 10px orangered;
  background-color: black;
  color: white;

  @media (min-width: 450px) {
      align-items: center;
      flex-direction: row;
  }
}

.header__logo {
  margin: 15px;
  font-family: Arial, sans-serif;
  $font-size: 50px;
  font-size: $font-size;
  line-height: 0.76 * $font-size;
}

.nav__list {
  position: absolute;
  visibility: hidden;
  widtH: 100%;
  background-color: black;
  color: goldenrod;
}

.nav__hiddenCheckbox {
  display: none;

  &:checked + .nav__list {
    visibility: visible;
  }
}

.nav__item {
  border-bottom: solid 1px lightgray;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px;
}

.nav__menu {
  position: relative;
  max-width: 400px;
  width: 100%;
  border: none;
  background-color: black;
}

.nav__menuButton {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  padding: 0;
  background-color: black;
  background-image: url("./images/MenuButton.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.callToAction {
  position: absolute;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
}

.callToAction__text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-stretch: condensed;
  text-align: center;
}

.callToAction__arrow {
  width: 70px;
}

