/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-top: solid 10px orangered;
  background-color: black;
  color: white; }
  @media (min-width: 450px) {
    .header {
      align-items: center;
      flex-direction: row; } }

.header__logo {
  margin: 15px;
  font-family: Arial, sans-serif;
  font-size: 50px;
  line-height: 38px; }

.nav__list {
  position: absolute;
  visibility: hidden;
  widtH: 100%;
  background-color: black;
  color: goldenrod; }

.nav__hiddenCheckbox {
  display: none; }
  .nav__hiddenCheckbox:checked + .nav__list {
    visibility: visible; }

.nav__item {
  border-bottom: solid 1px lightgray;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px; }

.nav__menu {
  position: relative;
  max-width: 400px;
  width: 100%;
  border: none;
  background-color: black; }

.nav__menuButton {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  padding: 0;
  background-color: black;
  background-image: url("./images/MenuButton.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer; }

.callToAction {
  position: absolute;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center; }

.callToAction__text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-stretch: condensed;
  text-align: center; }

.callToAction__arrow {
  width: 70px; }
