@import "reset";
@import "media";

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-top: solid 10px orangered;
  background-color: black;
  color: white;

  @media (min-width: $breakpoint__header__nav) {
      align-items: center;
      flex-direction: row;
  }
}

.header__logo {
  margin: 15px;
  font-family: Arial, sans-serif;
  $font-size: 50px;
  font-size: $font-size;
  line-height: 0.76 * $font-size;
}

.nav {
  position: relative;
  max-width: 800px;
  width: 100%;
  border: none;
  background-color: black;
}

.nav__menuButton {
  display: block;
  width: 40px;
  height: 40px;
  margin: 15px;
  border: none;
  padding: 0;
  background-color: black;
  background-image: url("./images/MenuButton.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  @media (min-width: $breakpoint__header__nav) {
    display: none;
  }
}

.nav__list {
  position: absolute;
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: goldenrod;

  @media (min-width: $breakpoint__header__nav) {
    visibility: visible;
    position: static;
    display: flex;
  }
}

.nav__hiddenCheckbox {
  display: none;

  &:checked + .nav__list {
    visibility: visible;
  }
}

.nav__item {
  border-bottom: solid 1px lightgray;
  padding: 15px;
  font-family: sans-serif;
  font-size: 12px;

  @media (min-width: $breakpoint__header__nav) {
    border: none;
    padding: 0 15px;
    border-right: 1px solid goldenrod;
  }

  &:hover {
    background-color: #292929;
  }

  &:active {
    background-color: #8a8a8a;
  }
}

.callToAction {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 20;
  display: flex;
}

.callToAction__text {
  margin: 25px 15px 15px 5px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-stretch: condensed;
  text-align: center;
}

.callToAction__arrow {
  width: 70px;
}

